[submodule "lake"]
    path = lake
    url = https://github.com/StanfordAHA/lake
    branch = master
[submodule "voyager"]
	path = voyager
	url = https://github.com/StanfordAHA/voyager.git
    branch = zircon
[submodule "strait/voyager-compiler"]
	path = strait/voyager-compiler
	url = https://github.com/jeffreyyu0602/voyager-compiler.git
	branch = main
